<div class="container">
  <legend>Add A New product</legend>
  <div class="mb-3">
    <label for="txtproductName" class="form-label">product Name</label>
    <input
      type="text"
      [(ngModel)]="productForm.name"
      class="form-control"
      id="txtproductName"
    />
  </div>
  <div class="mb-3">
    <label for="txtAuthor" class="form-label">Author</label>
    <input
      type="text"
      [(ngModel)]="productForm.price"
      class="form-control"
      id="txtAuthor"
    />
  </div>
  <div class="mb-3">
    <label for="txtCost" class="form-label">Cost</label>
    <input
      type="number"
      [(ngModel)]="productForm.quantity"
      class="form-control"
      id="txtCost"
    />
  </div>
  <button type="button" class="btn btn-dark" (click)="save()">Create</button>
</div>